extends layout 
 
block content 
  if (!user) 
    a(href="/login") Login 
    br 
    a(href="/register") Register 
    br 
    a(href="/bat/update") Update
  if (user) 
    p You are currently logged in as #{user.username} 
    a(href="/bat") Take me to Bat App 
    br 
    a(href="/logout") Logout 